
#headimg {
  max-width: 1460px;
  width: 100%;
  max-height: 300px;
  text-align: center;
  border: solid 15px goldenrod;
  margin-top: 15px;
  margin-bottom: 10px;
  opacity: 0.75;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 960px;
  width: 80vw;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

.headshot {
  border: goldenrod 25px solid;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: flex;
}

.flex--column {
  flex-direction: column;
}

.justify-space-around {
  justify-content: space-around;
}



/* Form */
input {
  margin-left: 5px;
}

span + span {
  margin-left: 15px;
}

form span + div {
  margin-top: 15px;
}

textarea {
  margin-top: 15px;
}

form p {
  margin-bottom: 5px;
  margin-top: 10px;
  text-align: center;
  font-size: 26px;
}

form > div + div {
  margin-top: 10px;
}


/* navigation */
nav li {
  text-transform: uppercase;
  margin: 0 40px;
}

#dropdown {
  display: none;
}

li:focus #dropdown,
li:hover #dropdown {
  display: block;
}









