

.container {
  margin: 0 auto;
  max-width: 960px;
  width: 80vw;
}


.headshot {
  border: goldenrod 25px solid;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: flex;
  text-align: center;
  font-size: 26px;
}

.flex--column {
  flex-direction: column;
}

/* Form */
input {
  margin-left: 5px;
}

span + span {
  margin-left: 15px;
}

form span + div {
  margin-top: 15px;
}

textarea {
  margin-top: 15px;
}

form p {
  margin-bottom: 5px;
  margin-top: 10px;
  text-align: center;
  font-size: 26px;
}

form > div + div {
  margin-top: 10px;
}














